/*Lilit 2022*/
#div1 {
    height: 200px;
    width: 80%;
    padding: 15px;
    margin: 0 auto;
    background-color: #deeaee;
    border-style: solid;
    border-width: 3px;
    border-color: #b1cbbb;
}

#mapdiv {
    height: 400px;
    width: auto;
    padding: 10px;
    margin: 0 auto;
    border-style: solid;
    border-width: 3px;
    border-color: #eea29a;
}
